# dependencies
node_modules/

# next.js
.next/
out/

# production
dist/
build/

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data fallback
.data/

# system
.DS_Store

# editor
.vscode/
.idea/

# caches
.turbo/
coverage/
